<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ilmuOneData.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>37E52C56734518CB988C521FFCFF81AF87200044</string>
				<key>dateExpires</key>
				<string>05/09/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4M5F5S23L2.aldi.ilmuOneData</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4M5F5S23L2</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ilmuOneData.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>29333772-6411-484b-8314-517155c88a53</string>
				<key>dateExpires</key>
				<string>05/09/23</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: aldi.ilmuOneData</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4M5F5S23L2</string>
				<key>name</key>
				<string>Rinaldi Alfian</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
